
.navbar{
    display: flex;
    align-items:  center;
    justify-content: space-around;
    padding: 1rem 0;
}

.navbar__titulo{
    font-size: 18px;
    color: var(--cinza);

}

.navbar__link, .navbar__botao{
    text-decoration: none;
    color: var(--cinza-claro);
}

.botao-vermelho{
    background-color: var(--vermelho);
    color: var(--branco);
    padding: 13px 20px;
    border: 1px solid var(--vermelho);
    display: inline-block;
    border-radius: 8px;
}

.navbar__lista, .container__logo, .container__botoes{
    display: flex;
    align-items:  center; 
}

.container__logo{
    gap: 8px;
}

.navbar__lista{
    gap: 40px;
    margin-right: 20rem;

}

.container__botoes{
    gap: 12px;
    cursor: pointer;

}