@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}
:root{
    --fonte-primaria: "Open Sans", serif;
    --fonte-secundaria:  "Public Sans", serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* overflow: hidden; >>> tira a barra de rolagem */
    color: #ffffff;


}

body::selection{
    background-color: #92cd4d;

}

.home{
    height: 100vh;
    width: 100vw;    
    padding:  0 3%;
}



.video__home{
    position: fixed; /* Fixa o vídeo como fundo */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Faz o vídeo preencher a tela */
    z-index: -1; /* Coloca o vídeo atrás de outros elementos */
}



.descricaodosite{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}



.descricaodosite__texto {
    font-size: 2.5rem;
    font-family: var(--fonte-primaria);
    font-weight: 500;

   z-index: 1; /* Garante que o conteúdo fique acima do vídeo */
}

.descricaodosite__titulo {
    font-family: var(--fonte-secundaria);
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 0;

}

.descricaodosite__titulo__subtitulo{
    font-family: var(--fonte-primaria);
    font-size: 2.5rem;
    font-weight: 100;


}

.botao__home{
    text-decoration: none;
    font-family: var(--fonte-primaria);
    font-size: 2.5rem;
    color: #000000;
    background-color: #92cd4d;
    width: 30%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}


.historias{
    background-color: #e6e6e6;
    color: #000000;
    height: 100vh;
    width: 100vw;
    padding: 2%;

}
.historias__titulo{
    font-family: var(--fonte-secundaria);
    text-align: center;
    font-size: 4.37rem;
    font-weight: 300;
    margin:  2%;

}

.historias__bloco{
    display: flex;
    align-items: center;
}

.historias__texto{
    font-family: var(--fonte-primaria);
    font-size: 1.93rem;
    width: 84%;

}

.historias__depoimento {

    background-color: #92cd4d;
    width: 70%;/* Ajusta largura  */
    height: 730px;
    text-align: center;
    padding: 1% 0;
}

.historias__foto{
    width: 90%;
    border-radius: 15%

}
.historias__depoimento__texto{
    font-family: var(--fonte-secundaria);
    font-size: 1.62rem;
 
}

.historias__depoimento__nome{
    font-family: var(--fonte-secundaria);
    font-size: 1.62rem;
    font-weight: bold;

}

.acao{
    background-color: #33477d;
    color: #ffffff;
    height: 100%;
    width: 100vw;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.acao__titulo{
    font-family: var(--fonte-secundaria);
    text-align: center;
    font-size: 5rem;
    font-weight: 300;


}

.acao__bloco{
    display: flex;
    flex-direction: row;
    justify-content: left;

}

.acao__bloco__secao{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    /* justify-content: center;
    gap: 3px; */
}

.acao__bloco__foto{
    width: 85%;
}

.acao__bloco__texto{
    font-family: var(--fonte-secundaria);
    text-align: center;
    font-size: 1.68rem;
    font-weight: 300;
    padding: 0 4%;

}

.botao__acao{
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-size: 2.62rem;
    font-weight: 500;
    color: #33477d;
    background-color: #92cd4d;
    width: 14%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.envolvimento{
    display: flex;
    flex-direction: row;
    margin: 2% 0;


}

.envolvimento__bloco{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2% 0;


}

.envolvimento__foto{
    max-width: 40%;
}

.envolvimento__titulo{
    font-family: var(--fonte-secundaria);
    font-size:  3.31rem;
    font-weight: 300;

}

.envolvimento__legenda{
    font-family: var(--fonte-primaria);
    font-size:  1.56rem;
    font-weight: 300;

}

.envolvimento__botao{
    background-color: #33477d;
    color: #ffffff;
    text-decoration: none;
    font-family: var(--fonte-primaria);
    padding: 5px 20px;
    font-size:  2.18rem;
    margin: 5% 0;
}

.doacao{
    background-color: #92cd4d;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100vw;
    padding: 3%;
  
}

.doacao__imagem{
    max-width: 70%;
    padding: 3%;
}

.missao{
    height: 100vh;
    width: 100vw;
    background-color: #e6e6e6;
    color: #000000;
    margin: 0;

}




.missao__foto{
    width: 100%; /* Ocupa 100% da largura da tela */
    height: 50%; /* Mantém a proporção da imagem */
  

}

.missao__bloco{
    display: flex;
    flex-direction: row;

}

.missao__artigo{
    padding: 0% 3%;
}

.missao__artigo__titulo{
    font-family: var(--fonte-secundaria);
    font-size: 4.37rem;
    font-weight: 100;
    margin-bottom: 0;
}


.missao__artigo__texto{
    font-family: var(--fonte-primaria);
    font-size: 1.68rem;
    font-weight: 100;

}

.contato{
    height: 100%;
    width: 100%;    
    display: flex;
    font-family: var(--fonte-secundaria);
    background-color: black;


}

.contato__bloco{
   background-color: #000000;
   padding: 5% 5% 5% 5%;
   width: 100%;
 

}

.contato__bloco__titulo{
    font-size: 4rem;
    font-weight: 200;

}


.contato__bloco__texto{
    font-size: 1.68rem;
    font-weight: 200;
   

}

.video__contato{

    max-height: 100%; /* Ou a altura desejada */
    margin: 0 ;

}
@media (max-width: 1200px) {

    .home {
        height: 100%;
        margin: 0 3%;
    }

    .video__home {
        .video__home {
            width: 100%;
            height: auto; /* Faz o vídeo ajustar proporcionalmente */
        }
    }
    
    .descricaodosite{
        width: 100%;
        padding: 0;
    
    }


    .descricaodosite__texto {
        font-size: 1.5rem;
        margin: 5% 0;
    }

    .descricaodosite__titulo {
        font-size: 5rem;
        margin: 0;

    }

    .descricaodosite__titulo__subtitulo{
        font-size: 2.5rem;
    
    }


    .botao__home {
        font-size: 1.8rem;
        width: 26%;
        height: 5%;
        margin: 0 0 3% 0;
        
    }


    .historias {
        padding: 1%;
        height: 100%;
    }

    .historias__bloco {
        flex-direction: column;
    }
    
    .historias__titulo {
        font-size: 3.5rem;
        padding: 2% 15% 0 15%;

    }

    .historias__texto {
        font-size: 1rem;
        margin: 0;
     }

     .historias__depoimento {
        height: auto; /* Permite que a altura do bloco ajuste de acordo com o conteúdo */
        width: 100%; /* Ajusta o tamanho para telas menores */

    }

    .historias__foto{
        width: 100%; /* Ajusta a imagem para não ultrapassar a tela */
        height: auto;
    
    }

    .historias__depoimento__texto {
        font-size: 1rem;
    }

    .historias__depoimento__nome{
        font-size: 1rem;    
    }

 
    .acao__titulo {
        font-size: 4rem;
        margin: 3% 0 1% 0;
 
    }

    .acao__bloco {
        flex-direction: column;
    }


    .acao__bloco__texto {
        font-size: 1.7rem;
        text-align: left;
    }

    .botao__acao{
        font-size: 2rem;
        width: 30%;    
    }
    .envolvimento{
        flex-direction: column;
    }

    .envolvimento__foto{
        max-width: 26%;
    }


    .envolvimento__titulo {
        font-size: 2.31rem;
        margin: 2%;

    }
    
    .envolvimento__legenda {
        font-size: 1.7rem;
        margin: 0 24%;
    }

    .missao__foto {
        height: 35%;
    }

    .missao__bloco {
        flex-direction: column;
    }
    
    .missao__artigo__titulo {
        font-size: 3.4rem;
    }
    
    .missao__artigo__texto {
        font-size: 1.4rem;
        margin: 0;
    }

    .contato{
        flex-direction: column;
        text-align: center;
     }

 
    .video__contato{
        width: 70%;
    
    }
}


