.header{
    background-color: var(--preto);
    color: var(--branco);
    display: flex;
    padding: 1rem 15rem;
    justify-content: space-between;
}

.header-container p{
    color: var(--cinza);
}