@import url(styles/header.css);


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&display=swap');

:root{
    --branco: #FFFFFF;
    --cinza:#3A404E;
    --cinza-claro: #667085;
    --fonte-pricipal: "Inter";
    --vermelho: #8E2424;

}


body{
    background-color: var(--branco);
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}
