.newsletter{
    padding: 40px 12.5%;
    background-color: var(--cor-destaque-secundario);
    color: var(--cor-destaque-terciario);
    text-align: center;
    margin: 0 auto;
}

.newsletter, ::placeholder, button{
    font-family: var(--fonte-texto);
    font-size: 20px;
}

.newsletter__titulo{
    font-family: var(--fonte-titulo);
    font-weight: 700;
    font-size: 31px;
    line-height: 37.2px;
    margin-bottom: 24px;

}

.newsletter__texto{
    margin-bottom: 32px;
    line-height: 24px;
    font-weight: 400;
}



.newsletter__container ::placeholder{
    color: var(--cor-links);
    line-height: 24px;
    font-weight: 400;

}

.newsletter__container__input{
    width: 100%;
    grid-column: 1;
    padding: 16px 24px;
    border-radius: 32px;
    background-color: transparent;
    border: 2px solid #090129;
    line-height: 24px;
    font-weight: 400;   
    padding: 16px 24px;
    line-height: 24px;
    font-weight: 700;
}

.newsletter__container__botao {
    grid-column: 2;
    background-color: var(--cor-fundo-botao);
    color: var(--cor-de-fundo);
    font-weight: 700;
    padding: 16px 24px;
    border-radius: 32px;
    border: none;
    cursor: pointer;
}

.newsletter__container{
    display: inline-grid;
    width: 60%;
    grid-template-columns: 1fr auto;
    gap: 16px;
}


@media screen and (max-width: 768px) {
    .newsletter__container {
        display: inline;
    }

    .newsletter__container__input {
        margin-bottom: 16px;
    }

    .newsletter{
    padding: 40px 60px;

}
}

