.destaque{
    background-color: var(--bege);
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 7.2rem;

}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 120rem;
    padding: 10rem 0;
}

.banner img{
    max-width: 550px;
}
.destaque-titulo{
    color: var(--coral);
}

.destaque-titulo span{
    color: var(--verde-2);
}


@media screen and (max-width: 1200px){
.destaque{
    font-size: 4.9rem;
    text-align: center;

}

.banner{
    flex-wrap: wrap;
    padding: 2.5rem 0;
    max-width: 60rem;
}

}

