.newsletter{
    text-align: center;
    font-family: var(--fonte-texto);
    font-weight: 400;
    color: var(--cinza-escuro);
    font-size: 1.6rem;
    background-color: var(--bege);
    padding: 80px 360px;
}

h2{
    color: var(--coral);
    font-family: var(--fonte-titulo);
    font-size: 3.9rem;
}

p{
    font-size: 2rem;
    padding: 32px 0 16px;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
  
}

.formulario-input{
    border-radius: 32px;
    border: 1px solid var(--cinza-escuro);
    background-color: var(--bege);
    flex: 1;          /* ocupa o máximo de espaço possível */
    min-width: 300px; /* garante que não fique pequeno demais */
    max-width: 700px;
    padding: 8px 24px;
 
}

.formulario-input::placeholder{
    color: var(--cinza-escuro);
}

.opcao input:checked{
    accent-color: var(--coral);
    cursor: pointer;

}

.botao-enviar{
    background-color: var(--coral);
    color: var(--branco);
    border-radius: 32px;
    border: none;
    font-weight:600;
    font-size: 2rem;
        padding: 8px 24px;
}

.grupo-opcoes{
    gap: 16px;
    display: flex;
    align-items: center;

}

@media screen and (max-width:1200px) {
    .newsletter{
    padding: 40px 60px;
}

}