.parceiros__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 120rem;
    row-gap: 24px;
    column-gap: 80px;
}


.parceiros{
    text-align: center;
    margin: 80px 360px;
}

.parceiros__titulo{
    font-family: var(--fonte-titulo);
    color: var(--coral);
    font-size: 3.9rem;
    font-weight: 400;
    padding-bottom: 32px;
}

@media screen and (max-width:1200px){
    .parceiros__lista{
    gap: 24px;
}

.parceiros{
    margin: 40px 150px;
}
}