.planos{
    margin: 80px auto;
}

.container-planos{
    background-color: var(--coral);
    border-radius: 32px;
    font-family: var(--fonte-titulo);
    font-weight: 400;
    padding: 40px;
    max-width: 120rem;
}

.planos-titulo{
    color: var(--bege);
    font-size: 3.9rem;
    text-align: center;
    padding-bottom: 32px;
}

.planos-lista{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.planos-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--branco);
    border-radius: 1rem;
    max-width: 300px;
    padding: 2rem;
    gap: 1rem;

}



.planos-item h3{
    font-size: 3.1rem;
    color: var(--cinza-escuro);
}

.planos-item p{
    font-family: var(--fonte-texto);
    font-size: 16px;
    color: var(--cinza-escuro);
    text-align: center; 
    line-height: 2rem;
}


.planos-item span{
    font-size: 3.9rem;
    color: var(--coral);
}

.planos-item button{
    background-color: var(--coral);
    font-family: var(--fonte-texto);
    border: none;
    font-size: 2rem;
    font-weight: 600;
    color: var(--branco);
    border-radius: 32px;
    cursor: pointer;
    padding: 8px 24px;

}

.planos-item img{
    transform: rotateX(180deg);
    
}

@media screen and (max-width:1200px) {
    .planos{
        margin: 1rem;
    }

    .planos-lista{
        flex-direction: column;
        align-items: center;
    }


    .container-planos{

    max-width: 70rem;
}
}