.titulo {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}
.titulo2{
    color:blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.conteudo{
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.destaque{
    background-color: white;
    color:black;
    font-weight: bold;
}

p{
    font-size: 1.5em;
}